*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


:root {
    --color-celeste: #04C4D9;
    --color-verde:#4CA649;
    --color-amarillo:#FEC006;
    --color-rojo:#F23838;
    --color-gris:#BBC0C2;
}

header{
    padding: 20px;
    background-color: rgb(230, 176, 176)
}


li{
    list-style: none;
}

.logo h1{
    font-family: 'Leckerli One', cursive;
    font-weight: normal;
}

header{
    display:flex;
    justify-content:space-between;
}

.menu{
    padding: 5px;
}

.menu ul {
    display:flex; 
    
}

.menu ul li{
    margin: 5px;
} 

.menu ul li a{
    padding: 10px;
    color: white;
    font-family: 'Coming Soon', cursive;
    text-decoration: none;
}

.home{
    background-color: var(--color-celeste);
}

.nosotros{
    background-color: var(--color-verde);
}

.contenido{
    background-color: var(--color-amarillo);
}

.juegos{
    background-color: var(--color-rojo);
}
/*Contenido de Main*/

.presentacion{
    height: 500px;
    background: linear-gradient(rgba(5, 7, 12, 0.644), rgba(5, 7, 12, 0.75)), url(img/imagenFondoPresentacion.jpg) no-repeat center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center
}
.presentacion div{
    background-color: rgba(255, 255, 255, 0.39);
    display: inline-block;
    padding: 20px;
}
/*Titulos de Presentacion*/
.presentacion div h1,
.presentacion div h2{
    color: black;
    text-align: center;
}
.presentacion div h1{
    text-decoration: underline;
}
.tituloPresentacion{
    background-color: var(--color-celeste);
}
h3{
    display: flex;
    justify-content: center;
    margin: 0 auto;

}
