*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


:root {
    --color-celeste: #04C4D9;
    --color-verde:#4CA649;
    --color-amarillo:#FEC006;
    --color-rojo:#F23838;
    --color-gris:#BBC0C2;
}


/* HEEADER JEANFRY */

header{
    padding: 20px;
    background-color: rgb(230, 176, 176)
}


li{
    list-style: none;
}



.logo h1{
    font-family: 'Leckerli One', cursive;
    font-weight: normal;
    margin-bottom: 0;
    padding-top: 15px;
}

header{
    display:flex;
    /* flex-direction: row-reverse; */
    justify-content:space-between;
}

.menu{
    padding: 5px;
}

.menu ul {
    display:flex; 
    padding-left: 0;
    margin-bottom: 0;
}

 .menu ul li{
    margin: 5px;
    padding: 10px;
} 

.menu ul li a{
    color: white;
    font-family: 'Coming Soon', cursive;
    text-decoration: none;
}

.home{
    background-color: var(--color-celeste);
}

.nosotros{
    background-color: var(--color-verde);
}

.contenido{
    background-color: var(--color-amarillo);
}

.juegos{
    background-color: var(--color-rojo);
}

/* HEADER JEANFRY FIN DE HEADER */

/* MARIA MAIN */



